@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.swiper-scrollbar {
  bottom: 15px !important;
  opacity: 1 !important;
  background-color: #525252 !important;
}

.swiper-scrollbar-drag {
  background: #988357 !important;
  height: 10px !important;
  top: -3px !important;
}

@layer base {
  body {
    @apply bg-[#1c1c1c];
  }

  section {
    @apply py-44 text-white;
  }
}

@layer components {
  .btn {
    @apply px-5 py-2;
  }

  .btn-primary {
    @apply border border-[#988357]  bg-[#988357] text-white hover:bg-transparent hover:text-[#988357] font-bold uppercase rounded;
  }

  .btn-secondary {
    @apply border border-[#525252] bg-[#525252] text-white hover:bg-transparent rounded font-bold uppercase;
  }

  .text-primary {
    @apply text-[#988357];
  }

  .header-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    background-color: transparent;
  }

  .link__hover {
    @apply text-[#988357];
  }
}

@media only screen and (max-width: 767px) {
  section {
    @apply py-24;
  }
}
