@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply py-12;
  }
}

@layer components {
  .btn {
    @apply px-5 py-2;
  }

  .btn-primary {
    @apply border border-[#988357]  bg-[#988357] text-white hover:bg-transparent hover:text-[#988357] font-bold uppercase rounded;
  }

  .btn-secondary {
    @apply border border-gray-700 bg-gray-600 text-white hover:bg-gray-800 rounded;
  }

  .text-primary {
    @apply text-[#988357];
  }

  .header-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    background-color: transparent;
  }
}
